#calendar {
    width: 100%;
    padding: 10px;
}
#calendar > div > div {
    display: flex;
    box-shadow: 2px 2px 5px #dddddd;
}
#calendar > div > div > div {
    flex: 1;
}

#next,
#prev {
    transition: 0.2s;
    cursor: pointer;
    font-size: 2rem;
}
#next:hover,
#prev:hover {
    font-size: 3rem;
}

#current-year-month {
    font-size: 1.5rem;
}

.calendar-body > div > div[data-item] {
    height: 90px;
    font-weight: bold;
}

.calendar-body > div:nth-child(even) {
    background-color: #f1f1f1;
}

.calendar-head {
    text-align: center;
}
.calendar-head > div {
    align-items: center;
}

.calendar-head > div:nth-child(1) {
    height: 40px;
    background-color: #009070;
}
.calendar-head > div:nth-child(2) {
    background-color: #1abc9c;
    height: 70px;
    color: white;
}
.calendar-head > div:nth-child(3) {
    height: 50px;
    background-color: #bbbbbb;
    color: white;
    font-weight: bold;
}
.sun {
    color: tomato;
}

.sat {
    color: #245dcc;
}

#calendar select {
    appearance: none;
    -webkit-appearance: none;
    width: 80px;
    height: 40px;
    font-size: 16px;
    text-align-last: center;
    border-radius: 10px;
    height: 25px;
    margin: 2.5px;
    background-color: white;
    border: none;
}

.txt-rt {
    text-align: right;
}

.txt-lt {
    text-align: left;
}
/* 일요일 */
.td-0 {
    color: tomato;
}
/* 토요일 */
.td-6 {
    color: #245dcc;
}

[data-item] .day-txt {
    padding: 2px 0px 2px 2px;
}
[data-holiday] {
    color: tomato;
}

.content-list {
    font-size: 12px;
    color: gray;
}

#calendar li {
    background-color: #9bf0dfb9;
    list-style: none;
    margin-bottom: 4px;
    padding: 2px 0px 2px;
    transition: 0.1s;
}

#calendar li:hover {
    cursor: pointer;
    background-color: #1abc9c;
    color: white;
}

#calendar button {
    background-color: white;
    border: none;
    height: 25px;
    width: 70px;
    border-radius: 10px;
}
